@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: 'Roboto', sans-serif !important;

}


body {
  background-color: calc("--bs-gray-900") !important;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.controller {
  width: 600px;
  height: 300px;
  border-radius: 12px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
